# --- Python ---
# File compilati / bytecode di Python
__pycache__/
*.py[cod]
*$py.class

# Cache se userai i test (es. pytest)
.pytest_cache/

# Ambienti virtuali
.venv/
venv/
env/

# --- IDE (PyCharm / VS Code) ---
# Impostazioni specifiche di PyCharm (es. Source Roots)
.idea/
# Impostazioni di Visual Studio Code
.vscode/
# File temporanei degli editor di testo
*.swp

# --- Dati e Output ---
# Se non vuoi caricare i risultati delle elaborazioni o i log:
*.log
data/prepared_data.pt
backup/
/petri_net_output.png
