# --- Python ---
__pycache__/               # File compilati di Python (velocizzano l'esecuzione locale)
*.py[cod]                  # Bytecode Python
*$py.class                 # Bytecode per Jython
.pytest_cache/             # Cache se userai i test (es. pytest)
.venv/                     # Ambiente virtuale (fondamentale escluderlo!)
venv/                      # Nome alternativo comune per l'ambiente virtuale
env/

# --- IDE (PyCharm / VS Code) ---
.idea/                     # Impostazioni specifiche di PyCharm (es. Source Roots)
.vscode/                   # Impostazioni di Visual Studio Code
*.swp                      # File temporanei degli editor di testo

# --- Dati e Output ---
# Se non vuoi caricare i risultati delle elaborazioni o i log:
*.log
data/
backup/
/petri_net_output.png
