torch==2.10.0
numpy==2.4.4
pandas==3.0.2
scikit-learn==1.8.0
matplotlib==3.10.8
pm4py==2.7.22
optuna
anytree==2.13.0
lark==1.3.1
pydot==4.0.1
Pillow==12.1.1
jupyter
ipykernel
papermill
nbformat
requests
